.reveal {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #657b83;
}

.reveal pre code{
    padding: 1.3em;
    border-radius: 8px;
}

.reveal em {
    color: #E55223;
    text-shadow: #1b0a0440 0px 0px 2px;
    font-family: monospace;
}

h1.title{
    font-family: Helvetica;
    color: #E55223;
    text-align: left;
    text-transform: capitalize;
    text-shadow: #1b0a0440 0px 0px 4px;
}

h2.subtitle{
    font-family: Helvetica;
    font-size: 1.8em;
    color: #15538E;
    text-align: left;
    text-transform: initial;
    text-shadow: #1b0a0440 0px 0px 4px;
}

section.chapter{
    color: #E55223;
    font-size: 2em;
    text-shadow: #ffffff42 0px 0px 7px;
}

section>h3.title{
    text-transform: initial;
    color: #E55223;
    font-family: sans-serif;
    text-shadow: #1b0a0440 0px 0px 4px;
}

.slide-background.chapter{
    background-color: #15538E;
}

.keyword-blue{
    text-shadow: #1b0a0440 0px 0px 2px;
    color: #15538E;
}

.keyword-orange{
    text-shadow: #1b0a0440 0px 0px 2px;
    color: #E55223;
}